<% var title = "www.bear_china.com" %>
<% include ../head %>
<h1>登陆</h1>
<form method="post" action="/login">
  <p>
   <label>用户名：</label>
   <input type="test" name="userName" >
  </p>
  <p>
   <label>密码：</label>
   <input type="test" name="userPassword" >
  </p>
  <p>
  	<input type="submit" value="登陆">
  </p>
  </form>
  <% include ../food %>